h1 {
    font-size: 48px;
    text-align: center;
    width: auto;
}



#icon-block1 {
    display: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 36px; text-align: center;
  }


  

